# Virtual Environment
.venv/

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Environment Variables
.env

# VS Code
.vscode/

# IDE
.idea/

# Logs
*.log

# Testing
.pytest_cache/

# Coverage
.coverage
htmlcov/

# Build
dist/
build/

# macOS
.DS_Store

# Windows
Thumbs.db